body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
header{
    height: 40px;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    background-color: #2196F3;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}
.search{
    padding: 10px;
    margin-top: 60px;
}
#url{
    width: 100%;
}
#search{
    width: 100%;
    margin-top: 10px;
}
.result{
    display: block;
    padding: 5px;
    margin-top: 10px;
}
.video-image{
    width: 100%;
}
.video-description{
    width: 100%;
}
img{
    width: 100%;
}
.others{
    display: flex;
    padding: 5px;
    border: groove;
}
.box{
    width: 100%;
    padding: 2px;
}
@media only screen and (min-width: 700px) {
    .search{
        margin-top: 80px;
    }
    #url{
        width: 70%;
    }
    #search{
        width: 25%;
        margin-left: 10px;
        margin-top: 0;
    }
    .result{
        display: flex;
        margin-top: 15px;
        padding: 15px;
    }
    .video-image{
        width: 50%;
    }
    .video-description{
        width: 50%;
        padding: 15px;
    }
    .others{
        width: 700px;
    }
    .box{
        width: 70%;
    }
}