<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free Online service to Download YouTube videos at one click!">
    <title>ngDownloader | Free Online Downloader: Download YouTube Videos</title>
    <link rel="icon" href="images/favicon.png">
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.1.223/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.1.223/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.1.223/styles/kendo.material.mobile.min.css" />
    <link rel="stylesheet" href="css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://kendo.cdn.telerik.com/2017.1.223/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2017.1.223/js/angular.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2017.1.223/js/kendo.all.min.js"></script>
</head>
<body ng-app="ngDownloader">
<header><i class="material-icons" style="padding-right: 10px;font-size: 30px;">cloud_download</i>ngDownloader</header>
<div ng-controller="searchCtrl" class="search" align="center">
    <input id="url" type="text" ng-model="query" ng-keyup="$event.keyCode == 13 && search()" placeholder="Enter URL here..."/>
    <kendo-button id="search" ng-click="search()">Get Download Links</kendo-button>
    <div class="result" ng-if="data">
        <div class="video-image" ng-if="!data.errorMessage">
            <img src="{{data.thumbnail}}" ng-if="data.thumbnail">
            <img src="images/na.jpg" ng-if="!data.thumbnail">
        </div>
        <div class="video-description" align="left">
            <p ng-if="data.title"><b>Title: </b>{{data.title}}</p>
            <p ng-if="data.like_count"><b>Likes: </b>{{data.like_count}}</p>
            <p ng-if="data.duration"><b>Duration: </b>{{data.duration}} seconds</b></p>
            <p ng-if="data.uploader"><b>Uploaded by: </b>{{data.uploader}}</b></p>
            <p ng-if="data.license"><b>License: </b>{{data.license}}</b></p>
            <a ng-if="data.url" href="{{data.url}}" download="{{data.url}}"><kendo-button class="k-primary">Download Best Quality <span ng-if="data.format_note">({{data.format_note}})</span></kendo-button></a>
        </div>
    </div>
    <div ng-if="data.formats">
        <div ng-repeat="d in data.formats | orderBy:'-'" class="others">
            <div align="left" class="box">
                <span ng-if="d.format_note"><b>Type: </b>{{d.format_note}} </span>
                <span ng-if="d.format"><b>Format: </b>{{d.format}}</span><br>
                <span ng-if="d.filesize"><b>File Size: </b>{{d.filesize}}KB </span>
                <span ng-if="d.ext"><b>Extension: </b>.{{d.ext}}</span>
            </div>
            <div>
                <a ng-if="d.url" href="{{d.url}}" download="{{d.url}}"><kendo-button class="k-primary">Download <span ng-if="d.format_note">({{d.format_note}})</span></kendo-button></a>
            </div>
        </div>
    </div>
    <div ng-if="data.errorMessage" class="error">
        <p ng-if="data.errorType"><b>Error Type: </b>{{data.errorType}}</p>
        <p ng-if="data.errorMessage"><b>Error Message: </b>{{data.errorMessage}}</p>
    </div>
    <div id="tabstrip">
        <ul class="tab">
            <li class="k-state-active">
                Supported Websites
            </li>
            <li>
                How to download ?
            </li>
            <li>
                About Developer
            </li>
        </ul>
        <div align="left">
            <span>&nbsp;</span>
            <div>
                <p>It supports almost all websites. Some of them are</p>
                <ul>
                    <li>YouTube</li>
                    <li>Facebook</li>
                    <li>Instagram</li>
                    <li>KhanAcademy</li>
                </ul>
                <p>NOTE: This app uses <a href="https://github.com/rg3/youtube-dl" target="_blank">youtube-dl</a>. <a href="http://rg3.github.io/youtube-dl/supportedsites.html" target="_blank">Here</a> is the complete list of supported websites.</p>
            </div>
        </div>
        <div align="left">
            <span>&nbsp;</span>
            <div>
                <ol>
                    <li>Enter the URL-address in the input field at the top of the page.</li>
                    <li>Press Enter or click on the "Download" button to the right of the input field.</li>
                </ol>
            </div>
        </div>
        <div align="left">
            <span>&nbsp;</span>
            <div>
                <p>Hi, I am Manish Bisht. You can know more about me at <a href="https://manishbisht.github.io" target="_blank">https://manishbisht.github.io/</a></p>
                <p>Bugs or feature request ? Drop email at <a href="mailto:manish.bisht490@gmail.com">manish.bisht490@gmail.com</a></p>
            </div>
        </div>
    </div>
</div>
<div style="min-height: 80px"></div>
<footer>
    <hr>
    &copy; 2017 <a href="https://manishbisht.github.io" target="_blank">Manish Bisht</a> &middot; Hosted with <i class="material-icons">favorite</i> on GitHub &middot; Backend on Amazon AWS
</footer>
<script src="js/app.js"></script>
<script>

</script>
</body>
</html>